.button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.button_huge {
  font-size: 1em;
  border-radius: 4px;
  border: 2px solid #4d75a3;
  padding: 8px 24px;
  margin: 4px auto;
  width: 160px;
}
.button_medium {
  font-size: 1em;
  border-radius: 4px;
  border: 2px solid #4d75a3;
  padding: 8px 24px;
  margin: 4px auto;
  width: 160px;
  width: 80px;
}
.button_small {
  font-size: 0.7em;
  border-radius: 2px;
  border: 1px solid #4d75a3;
  padding: 8px 12px;
  margin: auto 12px;
  width: 64px;
}
.button_dark {
  background-color: #4d75a3;
  color: #ffffff;
}
.button_light {
  background-color: #ffffff;
  color: #4d75a3;
}
.icon-button-holder {
  line-height: 48px;
  width: 48px;
  text-align: center;
  position: relative;
}
.icon-buttons-holder {
  float: right;
}
.fa {
  opacity: 0.5;
  cursor: pointer;
}
.fa.fa_active {
  opacity: 1;
}
.fa:hover {
  opacity: 1;
}
.fa_light {
  color: #ffffff;
}
.fa_dark {
  color: #667a90;
}
.fa_mg14 {
  margin-left: 14px;
}
.fa_mg12 {
  margin-left: 12px;
}
.drop-down {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.drop-down > * {
  padding-right: 12px;
}
.drop-down > p {
  font-size: 0.8em;
  cursor: pointer;
}
.drop-down > i {
  font-size: 1.2em;
  opacity: 1;
}
.drop-down > i.fa-caret-down {
  font-size: 0.9em;
  opacity: 1;
}
.drop-down_right {
  justify-content: flex-end;
}
.drop-down_right > p {
  color: #ffffff;
  font-size: 0.8em;
}
.drop-down_center {
  justify-content: center;
}
.drop-down_center > p {
  text-transform: uppercase;
  color: #667a90;
}
.drop-down_input > p {
  color: #667a90;
}
.avatar {
  border-radius: 50%;
  flex: 0 0 auto;
  position: relative;
}
.avatar_72 {
  height: 72px;
  width: 72px;
}
.avatar_48 {
  height: 48px;
  width: 48px;
}
.avatar_36 {
  height: 36px;
  width: 36px;
}
.profile-info {
  flex: 1 1 auto;
  display: flex;
}
.profile-info img {
  border-radius: 50%;
  height: 48px;
  width: 48px;
}
.profile-info div {
  display: flex;
  margin-left: 12px;
  align-items: center;
}
.profile-info div.desktop {
  flex-direction: column;
  align-items: flex-start;
}
.profile-info div.desktop p {
  color: #000000;
  font-weight: bolder;
}
.profile-info div.desktop i {
  font-size: 0.8em;
}
.profile-info div.desktop i::after {
  content: "Online";
  font-family: 'Roboto', sans-serif;
  margin-left: 4px;
}
.profile-info div.mobile {
  flex-direction: row;
}
.profile-info div.mobile p {
  color: #ffffff;
}
.profile-info div.mobile i {
  margin-left: 12px;
  font-size: 0.6em;
}
.messages-list {
  padding-left: 0px;
}
.messages-list li {
  margin: 15px;
  list-style: none;
  display: flex;
  align-items: flex-end;
}
.messages-list li:first-child {
  margin-top: 64px;
}
.messages-list li .avatar {
  width: 48px;
  border-radius: 50%;
}
.messages-list li .message {
  display: inline-block;
  max-width: 400px;
  line-height: 140%;
  position: relative;
}
.messages-list li .message::after {
  content: '';
  position: absolute;
  bottom: 30px;
  width: 0;
  height: 0;
  border: 12px solid transparent;
}
.messages-list li .message p:first-child {
  background: #ebf4fa;
  padding: 12px;
  border-radius: 8px;
  position: relative;
}
.messages-list li .message p:first-child > img {
  width: 96px;
  height: 96px;
  object-fit: cover;
  display: inline-block;
}
.messages-list li .message .date {
  margin: 0;
}
.messages-list li.sent {
  flex-direction: row;
}
.messages-list li.sent > img {
  margin: 6px 16px 20px 0;
}
.messages-list li.sent > .message::after {
  left: -12px;
  border-left: 0;
  border-bottom: 0;
  border-right-color: #ebf4fa;
}
.messages-list li.replies {
  flex-direction: row-reverse;
}
.messages-list li.replies > img {
  margin: 6px 0 20px 16px;
}
.messages-list li.replies > .message::after {
  right: -12px;
  border-right: 0;
  border-bottom: 0;
  border-left-color: #ebf4fa;
}
.messages-list li.replies .date {
  text-align: right;
}
.messages-list_mobile-view li {
  margin: 12px;
}
.messages-list_mobile-view li:first-child {
  margin-top: 0;
}
.messages-list_mobile-view li .avatar {
  display: none;
}
.messages-list_mobile-view li .message {
  max-width: 250px;
  line-height: 120%;
}
.messages-list_mobile-view li .message .date {
  font-size: 0.6em;
}
.input {
  display: flex;
  height: 100%;
}
.input .input__form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.input .input__form > input {
  flex: 1 1 auto;
  border: 1px solid #41638a;
  border-radius: 8px;
  color: #667a90;
  padding: 8px;
}
.input .input__form > input:focus {
  outline: none;
}
.input .input__form > .actions-bottom {
  display: flex;
  margin-top: 4px;
}
.input .input__form > .actions-bottom > .fa-smile-o {
  font-size: 1.4em;
}
.input .input__form > .actions-bottom > .drop-down > .fa-paperclip {
  display: none;
}
.input .input__submit-holder {
  padding: 0 12px;
}
.input_mobile {
  width: 100%;
  border-top: 1px solid #ebf4fa;
  background-color: #ffffff;
}
.input_mobile .input__form {
  position: relative;
  line-height: 48px;
}
.input_mobile .input__form > input {
  border: none;
  border-radius: unset;
  margin: 8px 40px 8px 40px;
  z-index: 1;
}
.input_mobile .input__form > .actions-bottom {
  position: absolute;
  width: 100%;
  display: inline-block;
  margin-top: 0;
}
.input_mobile .input__form > .actions-bottom > .fa-smile-o {
  font-size: 1.4em;
  padding-left: 12px;
}
.input_mobile .input__form > .actions-bottom > .drop-down {
  display: block;
  float: right;
}
.input_mobile .input__form > .actions-bottom > .drop-down > p {
  display: none;
}
.input_mobile .input__form > .actions-bottom > .drop-down > .fa-caret-down {
  display: none;
}
.input_mobile .input__form > .actions-bottom > .drop-down > .fa-paperclip {
  display: inline-block;
  font-size: 1.4em;
}
.input_mobile .input__submit-holder {
  display: none;
}
.header-notification {
  position: absolute;
  background-color: red;
  color: white;
  height: 16px;
  width: 16px;
  font-size: 0.8em;
  text-align: center;
  font-weight: bolder;
  line-height: 16px;
  top: 6px;
  left: 23px;
  border-radius: 4px;
  border: 2px solid #4d75a3;
  cursor: pointer;
}
.message-list-notification {
  position: absolute;
  background-color: red;
  color: white;
  height: 16px;
  width: 16px;
  font-size: 0.8em;
  text-align: center;
  font-weight: bolder;
  line-height: 16px;
  top: -8px;
  left: -8px;
  border-radius: 50%;
}
.header > .header__top-bar {
  background-color: #4d75a3;
  display: flex;
}
.header > .header__top-bar > * {
  border-right: 1px solid #41638a;
}
.header > .header__top-bar > .social-ui {
  flex: 0 0 120px;
  padding-left: 12px;
  color: #ffffff;
  line-height: 48px;
  font-weight: bolder;
  cursor: pointer;
}
.header > .header__secondary-bar > .nav {
  padding: unset;
  margin: unset;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}
.header > .header__secondary-bar > .nav > li {
  text-align: center;
  margin: 0 12px;
  display: block;
  height: 48px;
  box-sizing: border-box;
}
.header > .header__secondary-bar > .nav > li > a {
  text-decoration: none;
  color: #667a90;
  line-height: 48px;
}
.header > .header__secondary-bar > .nav > li:hover {
  border-bottom: 3px solid #4d75a3;
  cursor: pointer;
}
.header > .header__secondary-bar > .nav > li:hover > a {
  color: #4d75a3;
}
.header > .header__secondary-bar > .nav .nav_active {
  border-bottom: 3px solid #4d75a3;
  cursor: pointer;
}
.header > .header__secondary-bar > .nav .nav_active > a {
  color: #4d75a3;
}
.profile {
  display: flex;
  padding: 24px 12px;
}
.profile .profile__user {
  display: flex;
  align-items: center;
  flex: 0 1 336px;
  padding-left: 24px;
  border-right: 1px solid #ebf4fa;
}
.profile .profile__user .name-and-stat {
  margin-left: 12px;
}
.profile .profile__user .name-and-stat h1 {
  display: inline;
  margin-right: 12px;
}
.profile .profile__status {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  justify-content: space-around;
}
.profile .profile__status p {
  text-align: center;
  color: #667a90;
}
.profile .profile__status p::first-line {
  font-size: 1.5em;
  font-weight: bold;
  color: #4d75a3;
}
.profile .profile__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 192px;
}
.activity-card {
  display: flex;
  justify-content: flex-start;
  margin: 8px 0;
}
.activity-card .activity-card__border {
  margin: 0 16px 0 8px;
}
.activity-card .activity-card__border > i {
  font-size: 22px;
}
.activity-card .activity-card__border > .border {
  height: calc(100% - 32px);
  border: 1px solid #667a90;
  width: 0;
  margin: auto;
  margin-top: 8px;
  opacity: 0.5;
}
.activity-card .activity-card__content .title P a {
  text-decoration: none;
  color: #4d75a3;
  font-weight: bolder;
}
.activity-card .activity-card__content .content {
  min-height: 22px;
}
.activity-card .activity-card__content .content > img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  float: left;
  margin-right: 4px;
}
.activity-card .activity-card__content .content > p.title {
  font-weight: bolder;
}
.activity-card .activity-card .activity-card__border {
  display: none;
}
.activity-card .activity-card .activity-card__content .title {
  display: none;
}
.activity-feed {
  height: 100%;
}
.activity-feed .activity-feed__card {
  width: 100%;
}
.mobile-view {
  height: 640px;
  background-color: #ffffff;
}
.mobile-view .mobile-view__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
  padding: 0 18px;
}
.mobile-view .mobile-view__header > h1 {
  flex: 1 1 auto;
  font-weight: initial;
}
.mobile-view .mobile-view__header > p {
  color: #ffffff;
  flex: 1 1 auto;
}
.mobile-view .mobile-view__header_dark {
  background-color: #4d75a3;
}
.mobile-view .mobile-view__content {
  padding: 0 16px;
  height: calc(100% - 104px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.mobile-view .mobile-view__content::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}
.mobile-view .mobile-view__content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
.mobile-view .mobile-view__footer {
  display: flex;
  flex-direction: row;
  height: 48px;
  background-color: #ebf4fa;
}
.suggestions {
  height: 100%;
}
.suggestions .suggestions__people-card {
  display: flex;
  align-items: center;
  padding: 12px 0;
  height: calc(100% / 6);
  box-sizing: border-box;
  position: relative;
}
.suggestions .suggestions__people-card > .name-and-stat {
  padding-left: 8px;
  flex: 1 1 auto;
}
.suggestions .suggestions__people-card > .name-and-stat > h1 {
  font-size: 1.0em;
}
.suggestions .suggestions__people-card > .name-and-stat > p {
  font-size: 0.8em;
}
.suggestions .suggestions__people-card::after {
  content: " ";
  position: absolute;
  left: 9%;
  bottom: 18%;
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 8px;
  border: 2px solid #ffffff;
}
.dialogues {
  height: 660px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialogues .dialogues__sidepanel {
  flex: 0 0 360px;
  height: 100%;
  overflow: hidden;
}
.dialogues .dialogues__content {
  flex: 1 1 auto;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.chats-list {
  height: 100%;
}
.chats-list .chats-list__header {
  margin: auto 18px;
  height: 56px;
  overflow: hidden;
  line-height: 56px;
}
.chats-list .chats-list__header > h1 {
  float: left;
  font-size: 1em;
  margin: 0;
}
.chats-list .chats-list__content {
  height: calc(100% - 56px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.chats-list .chats-list__content::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}
.chats-list .chats-list__content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
.contacts-list {
  margin: unset;
  padding: unset;
}
.contacts-list .contact-list__item {
  position: relative;
  padding: 10px 0 15px 0;
  font-size: 1em;
  cursor: pointer;
  border-bottom: 1px solid #ebf4fa;
}
.contacts-list .contact-list__item:hover,
.contacts-list .contact-list__item.active,
.contacts-list .contact-list__item.unread {
  background-color: #ebf4fa;
}
.contacts-list .contact-list__item > .people {
  width: 88%;
  margin: 0 auto;
  position: relative;
}
.contacts-list .contact-list__item > .people > span {
  position: absolute;
  left: 48px;
  margin: -2px 0 0 -2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.contacts-list .contact-list__item > .people > span.online {
  background: green;
}
.contacts-list .contact-list__item > .people img {
  width: 48px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
.contacts-list .contact-list__item > .people .meta .name {
  font-weight: 600;
  color: #000000;
}
.contacts-list .contact-list__item > .people .meta .preview {
  margin: 5px 0 0 0;
  padding: 0 0 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contacts-list .contact-list__item > .people .meta .preview > span {
  position: initial;
  border-radius: initial;
  background: none;
  border: none;
  padding-right: 2px;
  margin: 0 0 0 1px;
  opacity: 0.5;
}
.contacts-list .contact-list__item > .people .meta .preview > img {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
.contacts-list .contact-list__item > .people .meta > .info {
  float: right;
  text-align: right;
}
.contacts-list .contact-list__item > .people .meta > .info > .date {
  opacity: 0.5;
}
.contacts-list .contact-list__item > .people .meta > .info > .amount {
  font-size: 0.8em;
  color: #ffffff;
  border-radius: 4px;
  background-color: #4d75a3;
  padding: 2px 5px;
}
.dialog {
  height: 100%;
}
.dialog .dialog__header {
  padding: 0 18px;
  height: 56px;
  overflow: hidden;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: 9;
}
.dialog .dialog__messages {
  max-height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dialog .dialog__messages::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}
.dialog .dialog__messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
.dialog .dialog__message-input {
  height: calc(15% - 24px);
  width: calc(100% - 24px);
  padding: 12px;
  background-color: #ebf4fa;
}
p {
  font-size: 0.8em;
  margin: 4px 0;
  color: #667a90;
}
h1 {
  font-size: 1.3em;
  margin: 4px 0;
}
.body {
  background-color: #e9e8e4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  margin: 2em auto;
  font-family: 'Roboto', sans-serif;
  width: 1144px;
}
.body .body__line {
  width: 1144px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  grid-column-start: 1;
  grid-column-end: 4;
}
.body .body__cell {
  width: 360px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
}
.body_shadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
