.suggestions {
    height: 100%;

    .suggestions__people-card {
        display: flex;
        align-items: center;
        padding: 12px 0;
        height: calc(100% / 6);
        box-sizing: border-box;

        >.name-and-stat {
            padding-left: 8px;
            flex: 1 1 auto;

            >h1 {
                font-size: 1.0em;
            }

            >p {
                font-size: 0.8em;
            }
        }
    }
}