.header {
    >.header__top-bar {
        background-color: @primary-color;
        display: flex;
    
        >* {
            border-right: 1px solid @header-top-bar-right-boder-color;
        }
    
        >.social-ui {
            flex: 0 0 120px;
            padding-left: 12px;
            color: #ffffff;
            line-height: 48px;
            font-weight: bolder;
        }
    }
    
    >.header__secondary-bar {
    
        >.nav {
            padding: unset;
            margin: unset;
            list-style-type: none;
    
            display: flex;
            justify-content: center;
            align-items: center;
            height: 48px;
            
            >li {
                text-align: center;
                margin: 0 12px;
                display: block;
                height: 48px;
                box-sizing: border-box;
    
                >a {
                    text-decoration: none;
                    color: @text-color;
                    line-height: 48px;
                }
    
                &:hover {
                    .nav_active;
                }
            }
    
            .nav_active {
                border-bottom: 3px solid @primary-color;
                cursor: pointer;
    
                >a {
                    color: @primary-color;
                }
            }
        }
    }
}
