@import "variables";
@import "mixins";
@import "header";
@import "profile";
@import "button";

.body { 
    background-color: @background-color;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    margin: 2em;
    font-family: 'Roboto', sans-serif;

    >.body__line {
        .body_div_template();
        .three-columns-wide();
    }
    
    >.body__cell {
        .body_div_template();
    }

    h1 {
        font-size: 1.3em;
        margin: 4px 0;
    }
    
    p {
        font-size: 0.8em;
        margin: 4px 0;
    }
}

// 5.mobile device
// 5.1.activity feed
.activity-feed {
    .mock;
}

// 5.2.suggestions
.suggestions {
    .mock;
}

// 5.3.chat
.chat {
    .mock;
}

.dialogues {
    .three-columns-wide;
    .mock;
}