.mock {
    height: 100px;
    background-color: red;
    border: 1px solid black;
}

.three-columns-wide() {
    grid-column-start: 1;
    grid-column-end: 4;
    /* 
    "grid-column: 1 / 3;"
    is compiled as "grid-column: 0.33333"
    so another working approach is
    "grid-column: 1 e("/") 4;" 
    */
}