// global variables
@primary-color: #4d75a3;
@primary-background-color: #ffffff;
@secondary-background-color: #ebf4fa;
@text-color: #667a90;
@text-color-light: #ffffff;
@text-color-black: #000000;
@border-color-light: #ebf4fa;

// only for body element
@body-background-color: #e9e8e4;

// only for header element
@header-top-bar-right-boder-color: #41638a;

// breakpoints
@sm: 520px;
@md: 960px;
@lg: 1144px;
